/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.main {
  display: grid;
  place-items: center;
}
.box-wrapper {
  margin-top: 100px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  border-radius: 50%;
}

.blink {
  background-color: tomato !important;
}

.box {
  width: 250px;
  height: 250px;
  margin: 10px;
}
.box:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.box-1 {
  border-top-left-radius: 100%;
  background-color: red;
}
.box-2 {
  background-color: blue;
  /* border-top-right-radius: 50%; */
  border-top-right-radius: 100%;
}
.box-3 {
  background-color: yellow;
  border-bottom-left-radius: 100%;
}
.box-4 {
  background-color: rgb(0, 179, 0);
  border-bottom-right-radius: 100%;
}
